<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <!--以下为硬件配置部分-->
    <appender name="SysLog" type="log4net.Appender.RollingFileAppender" >
      <!--是否续写-->
      <param name="AppendToFile" value="true" />
      <!--最小锁定模型以允许多个进程可以写入同一个文件-->
      <param name="LockingModel" value="log4net.Appender.FileAppender.MinimalLock" />
      <!--保存路径-->
      <param name="File" value=".\\Log\\SysLog\\" />
      <param name="DatePattern" value="SYS_yyyy-MM-dd.lo\g" />
      <param name="StaticLogFileName" value="false" />
      <param name="RollingStyle" value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%m%n" />
      </layout>
    </appender>
    <appender name="IwdLog" type="log4net.Appender.RollingFileAppender" >
      <!--是否续写-->
      <param name="AppendToFile" value="true" />
      <!--最小锁定模型以允许多个进程可以写入同一个文件-->
      <param name="LockingModel" value="log4net.Appender.FileAppender.MinimalLock" />
      <!--保存路径-->
      <param name="File" value=".\\Log\\SysLog\\ImmediateWeightData\\" />
      <param name="DatePattern" value="I\M\M_yyyy-MM-dd.lo\g" />
      <param name="StaticLogFileName" value="false" />
      <param name="RollingStyle" value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%m%n" />
      </layout>
    </appender>
    <appender name="WEIGHT" type="log4net.Appender.RollingFileAppender" >
      <!--是否续写-->
      <param name="AppendToFile" value="true" />
      <!--最小锁定模型以允许多个进程可以写入同一个文件-->
      <param name="LockingModel" value="log4net.Appender.FileAppender.MinimalLock" />
      <!--保存路径-->
      <param name="File" value=".\\Log\\WEIGHT\\" />
      <param name="DatePattern" value="RD_yyyy-MM-dd.lo\g" />
      <param name="StaticLogFileName" value="false" />
      <param name="RollingStyle" value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%m%n" />
      </layout>
    </appender>
    <appender name="TimeLog" type="log4net.Appender.RollingFileAppender" >
      <!--是否续写-->
      <param name="AppendToFile" value="true" />
      <!--最小锁定模型以允许多个进程可以写入同一个文件-->
      <param name="LockingModel" value="log4net.Appender.FileAppender.MinimalLock" />
      <!--保存路径-->
      <param name="File" value=".\\Log\\SysLog\\TimeLog\\" />
      <param name="DatePattern" value="Ti\me_yyyy-MM-dd.lo\g" />
      <param name="StaticLogFileName" value="false" />
      <param name="RollingStyle" value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%m%n" />
      </layout>
    </appender>
    <logger name="SYS_LOG">
      <level value="ALL" />
      <!--启用按日期分割-->
      <appender-ref ref="SysLog" />
    </logger>
    <!--实时数据-->
    <logger name="IWD_LOG">
      <level value="ALL" />
      --><!--启用按日期分割-->
      <appender-ref ref="IwdLog" />
    </logger>
    <!--重量数据-->
    <logger name="WEIGHT_LOG">
      <level value="ALL" />
      <appender-ref ref="WEIGHT" />
    </logger>
    <logger name="TIME_LOG">
      <level value="ALL" />
      <appender-ref ref="TimeLog" />
    </logger>
    <!--硬件部分日志配置-->
    <appender name="IC_CARD_READER_APPEND" type="log4net.Appender.RollingFileAppender" >
      <!--是否续写-->
      <param name="AppendToFile" value="true" />
      <!--最小锁定模型以允许多个进程可以写入同一个文件-->
      <param name="LockingModel" value="log4net.Appender.FileAppender.MinimalLock" />
      <!--保存路径-->
      <param name="File" value=".\\Log\\HARDWARE\\IC\\" />
      <param name="DatePattern" value="IC_yyyy-MM-dd.lo\g" />
      <param name="StaticLogFileName" value="false" />
      <param name="RollingStyle" value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="[%level] [%d]  %m%n" />
      </layout>
    </appender>
    <appender name="RFID_READER_APPEND" type="log4net.Appender.RollingFileAppender" >
      <!--是否续写-->
      <param name="AppendToFile" value="true" />
      <!--最小锁定模型以允许多个进程可以写入同一个文件-->
      <param name="LockingModel" value="log4net.Appender.FileAppender.MinimalLock" />
      <!--保存路径-->
      <param name="File" value=".\\Log\\HARDWARE\\RFID\\" />
      <param name="DatePattern" value="R\FID_yyyy-MM-dd.lo\g" />
      <param name="StaticLogFileName" value="false" />
      <param name="RollingStyle" value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="[%level] [%d]  %m%n" />
      </layout>
    </appender>
    <appender name="IO" type="log4net.Appender.RollingFileAppender" >
      <!--是否续写-->
      <param name="AppendToFile" value="true" />
      <!--最小锁定模型以允许多个进程可以写入同一个文件-->
      <param name="LockingModel" value="log4net.Appender.FileAppender.MinimalLock" />
      <!--保存路径-->
      <param name="File" value=".\\Log\\HARDWARE\\DVR\\" />
      <param name="MaxSizeRollBackups" value="1" />
      <param name="DatePattern" value="IO_yyyy-MM-dd.lo\g" />
      <param name="StaticLogFileName" value="false" />
      <param name="RollingStyle" value="Date"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="[%level] [%d]  %m%n" />
      </layout>
    </appender>
    <appender name="PRINTER" type="log4net.Appender.RollingFileAppender" >

      <!--是否续写-->
      <param name="AppendToFile" value="true" />
      <!--最小锁定模型以允许多个进程可以写入同一个文件-->
      <param name="LockingModel" value="log4net.Appender.FileAppender.MinimalLock" />
      <!--保存路径-->
      <param name="File" value=".\\Log\\HARDWARE\\PRINTER\\" />
      <param name="DatePattern" value="PRINTER_yyyy-MM-dd.lo\g" />
      <param name="StaticLogFileName" value="false" />
      <param name="RollingStyle" value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="[%level] [%d]  %m%n" />
      </layout>
    </appender>
    <appender name="WEIGHT_DEVICE_APPEND" type="log4net.Appender.RollingFileAppender" >
      <param name="AppendToFile" value="true" />
      <param name="LockingModel" value="log4net.Appender.FileAppender.MinimalLock" />
      <param name="File" value=".\\Log\\HARDWARE\\WEIGHTDEV\\" />
      <param name="DatePattern" value="WEIG\H\TDEV_yyyy-MM-dd.lo\g" />
      <param name="StaticLogFileName" value="false" />
      <param name="RollingStyle" value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="[%level] [%d]  %m%n" />
      </layout>
    </appender>
    <appender name="VIDEO_PLAYBACK_APPEND" type="log4net.Appender.RollingFileAppender" >
      <!--是否续写-->
      <param name="AppendToFile" value="true" />
      <!--最小锁定模型以允许多个进程可以写入同一个文件-->
      <param name="LockingModel" value="log4net.Appender.FileAppender.MinimalLock" />
      <!--保存路径-->
      <param name="File" value=".\\Log\\HARDWARE\\VIDEOPLAYBACK\\" />
      <param name="DatePattern" value="Vi\deoPla\yBack_yyyy-MM-dd.lo\g" />
      <param name="StaticLogFileName" value="false" />
      <param name="RollingStyle" value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="[%level] [%d]  %m%n" />
      </layout>
    </appender>
	<appender name="VIDEO_PLAY" type="log4net.Appender.RollingFileAppender" >
      <!--是否续写-->
      <param name="AppendToFile" value="true" />
      <!--最小锁定模型以允许多个进程可以写入同一个文件-->
      <param name="LockingModel" value="log4net.Appender.FileAppender.MinimalLock" />
      <!--保存路径-->
      <param name="File" value=".\\Log\\Hardware\\Video\\" />
      <param name="DatePattern" value="pla\y_yyyy-MM-dd.LOG" />
      <param name="StaticLogFileName" value="false" />
      <param name="RollingStyle" value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="[%d][%level] %m%n" />
      </layout>
    </appender>
   <appender name="AG_CHEAT" type="log4net.Appender.RollingFileAppender" >
      <!--是否续写-->
      <param name="AppendToFile" value="true" />
      <!--最小锁定模型以允许多个进程可以写入同一个文件-->
      <param name="LockingModel" value="log4net.Appender.FileAppender.MinimalLock" />
      <!--保存路径-->
      <param name="File" value=".\\Log\\HardWare\\Cheat\\" />
      <param name="DatePattern" value="c\hea\t_yyyy-MM-dd.lo\g" />
      <param name="StaticLogFileName" value="false" />
      <param name="RollingStyle" value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%m%n" />
        
      </layout>
    </appender>
    <logger name="AG_CHEAT_LOGGER">
      <level value="ALL" />
      <!--启用按日期分割-->
      <appender-ref ref="AG_CHEAT" />
    </logger>
    <!--IC读卡器-->
    <logger name="IC_CARD_READER_LOGGER">
      <level value="ALL" />
      <appender-ref ref="IC_CARD_READER_APPEND" />
    </logger>
    <!--rfid读写器-->
    <logger name="RFID_READER_LOGGER">
      <level value="ALL" />
      <appender-ref ref="RFID_READER_APPEND" />
    </logger>
    <!--IO控制器-->
    <logger name="IO_LOG">
      <level value="ALL" />
      <appender-ref ref="IO" />
    </logger>
    <!--打印机-->
    <logger name="PRINTER_LOG">
      <level value="ALL" />
      <appender-ref ref="PRINTER" />
    </logger>
    <!--衡器-->
    <logger name="WEIGHT_DEVICE_LOGGER">
      <level value="ALL" />
      <appender-ref ref="WEIGHT_DEVICE_APPEND" />
    </logger>
    <!--视频-->
    <logger name="VIDEO_PLAYBACK_LOGGER">
      <level value="ALL" />
      <appender-ref ref="VIDEO_PLAYBACK_APPEND" />
    </logger>
	<logger name="VIDEO_PLAY_LOGGER">
      <level value="ALL" />
      <appender-ref ref="VIDEO_PLAY" />
    </logger>
    <!--默认-->
    <root>
      <level value="ALL" />
      <!--启用按日期分割-->
      <!--<appender-ref ref="LogFileAppenderByDate" />-->
    </root>
  </log4net>
</configuration>