<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Talent.RemoteCarMeasure.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="UserConfigFileName" value="UserConfig.xml"/>
    <add key="SysConfigFileName"  value="ClientConfig\SystemConfig.xml"/>
    <!--坐席ID-->
    <add key="SeatId" value="/configlist/module[@name='系统设置']/submodule[@name='系统设置']/param[@name='SeatId']/@value"/>
    <!--坐席名称-->
    <add key="SeatName" value="/configlist/module[@name='系统设置']/submodule[@name='系统设置']/param[@name='SeatName']/@value"/>
    <!--任务服务器IP-->
    <add key="TaskIpInfo" value="/configlist/module[@name='系统设置']/submodule[@name='系统设置']/param[@name='SeatUrl']/@value"/>
    <!--任务服务器端口-->
    <add key="TaskPortInfo" value="/configlist/module[@name='系统设置']/submodule[@name='系统设置']/param[@name='SeatPort']/@value"/>
    <!--计量方式-->
    <add key="MeasureType" value="/configlist/module[@name='系统设置']/submodule[@name='系统设置']/param[@name='MeasureType']/@value"/>
    <!--自动确认时间-->
    <add key="ConfirmTime" value="/configlist/module[@name='系统设置']/submodule[@name='系统设置']/param[@name='ConfirmTime']/@value"/>
    <!--取数周期(坐席自动计量时,任务处理时,取实时数据的周期)-->
    <add key="WeightTimePeriod" value="/configlist/module[@name='系统设置']/submodule[@name='系统设置']/param[@name='WeightTimePeriod']/@value"/>
    <!--取数次数(坐席自动计量时,任务处理时,数量不稳定时取数的次数)-->
    <add key="WeightTimeCount" value="/configlist/module[@name='系统设置']/submodule[@name='系统设置']/param[@name='WeightTimeCount']/@value"/>
    <!--称重允差-->
    <add key="WeightAllowanceInfo" value="/configlist/module[@name='业务设置']/submodule[@name='计量设置']/param[@name='WeightAllowance']/@value"/>
    <!--ftp的Ip地址-->
    <add key="FtpIp" value="/configlist/module[@name='系统设置']/submodule[@name='Ftp文件设置']/param[@name='FtpIp']/@value"/>
    <!--ftp的Port地址-->
    <add key="FtpPort" value="/configlist/module[@name='系统设置']/submodule[@name='Ftp文件设置']/param[@name='FtpPort']/@value"/>
    <!--ftp的用户名-->
    <add key="FtpPicUserName" value="/configlist/module[@name='系统设置']/submodule[@name='Ftp文件设置']/param[@name='FtpUserName']/@value"/>
    <!--ftp的密码-->
    <add key="FtpPicPassWord" value="/configlist/module[@name='系统设置']/submodule[@name='Ftp文件设置']/param[@name='FtpPassWord']/@value"/>
    <!--ftp的密码-->
    <add key="LogSavePath" value="/configlist/module[@name='系统设置']/submodule[@name='Ftp文件设置']/param[@name='LogSavePath']/@value"/>
    <!--系统更新配置-->
    <add key="FtpUpdateDir" value="/configlist/module[@name='系统设置']/submodule[@name='Ftp文件设置']/param[@name='FtpUpdateDir']/@value"/>
    <!--获取称点被关注的坐席信息192.168.1.104:8090;192.168.100.12:8080-->
    <add key="getEqucodeSeat" value="http://192.168.48.249:7080/MeasureService/MeasureSeatController/getEqucodeSeat.do?jsonParams={0}"/>

    <!--获取称点的配置信息-->
    <add key="getEquParamInfo" value="http://192.168.48.249:7080/MeasureService/MeasureSeatController/getEquParamInfo.do?jsonParams={0}"/>

    <!--保存坐席关注称点的配置信息-->
    <add key="saveSeatClient" value="http://192.168.48.249:7080/MeasureService/MeasureSeatController/saveSeatClient.do?jsonParams={0}"/>

    <!--获取坐席信息(坐席关注的称点)-->
    <add key="getSeatClient" value="http://192.168.48.249:7080/MeasureService/MeasureSeatController/getSeatClient.do?jsonParams={0}"/>

    <!--获取图片信息-->
    <add key="getMeasurePhoto" value="http://192.168.48.249:7080/MeasureService/MeasureTaskReport/getMeasurePhoto.do?jsonParams={0}"/>

    <!--获取打印模板(含业务数据)-->
    <add key="getPrintModelData" value="http://192.168.48.249:7080/MeasureService/PrintController/rtPrintModelData.do?jsonParams={0}"/>

    <!--保存业务信息调用的服务地址-->
    <add key="saveMeasureInfo" value="http://192.168.48.249:7080/MeasureService/measure/saveMeasureInfo.do"/>
    <!--一车多货用户选择一条之后的服务地址-->
    <add key="moreMeasureInfo" value="http://192.168.48.249:7080/MeasureService/measure/moreMeasureInfo.do"/>
    <!--调拨业务用户选择业务号之后的服务地址-->
    <add key="inputPlanidInfo" value="http://192.168.48.249:7080/MeasureService/measure/inputPlanidInfo.do"/>

    <!--保存任务处理结果服务地址-->
    <add key="saveTaskDoResult" value="http://192.168.48.249:7080/MeasureService/MeasureTaskReport/saveTaskDoResult.do?jsonParams={0}"/>
    <!--获取称量记录服务地址-->
    <add key="getSearchInfo" value="http://192.168.48.249:7080/MeasureService/measure/getSearchInfo.do?jsonParams={0}"/>
    <!--获取坐席、衡器集合服务地址-->
    <add key="getSeatList" value="http://192.168.48.249:7080/MeasureService/seatconfigration/getSeatList.do"/>
    <!--用户登录服务地址-->
    <!--<add key="getLoginInfo" value="http1://192.168.48.249:8080/Privilege/unauth/measure/login?username={0}$password={1}"/>-->
     <!--用户登录服务地址-->
    <add key="getLoginInfo" value="http://192.168.48.249:7080/MeasureService/measure/login.do?usercode={0}$Password={1}"/>
    <!--获取称量信息的服务地址 增加weight 参数 lt2016-2-18 13:46:25……-->
    <add key="getMeasureInfo" value="http://192.168.48.249:7080/MeasureService/measure/getMeasureInfobyCarno.do?carno={0}$icid={1}$rfid={2}$caller={3}$planid={4}$weightno={5}$carflag={6}$weight={7}"/>

    <!--获取实时重量信息的服务地址-->
    <add key="getRealTimeWeightInfo" value="http://192.168.48.249:7080/MeasureService/equipment/weighterdata/query.do?matchid={0}$clientid={1}$begintime={2}$endtime={3}"/>
    <!--获取某一个基础信息的服务地址-->
    <add key="getServiceBasiceInfo" value="http://192.168.48.249:7080/MeasureService/measure/quicksuggest.do?fieldname={0}$inputvalue={1}"/>
    <!--获取业务号对应的信息的服务地址-->
    <add key="getBusinessNoAbortInfo" value="http://192.168.48.249:7080/MeasureService/measure/quicksuggest_taskcode.do?inputvalue={0}"/>
    <!--任务统计 start-->
    <!--计量员信息列表.-->
    <add key="getAllMeasureUser" value="http://192.168.48.249:7080/MeasureService/privilege/getAllMeasureUser.do"/>
    <!--获取汽车衡器某段时间的过磅车数与过磅重量。参数格式:{"equcode":"105","equname":"5号汽车衡","begintime":"2015-01-27 11:16:55","endtime":"2015-07-27 10:32:14"}-->
    <add key="getCarWeightTaskCount" value="http://192.168.48.249:7080/MeasureService/MeasureTaskReport/getCarWeightTaskCount.do?jsonParams={0}"/>
    <!--计量员计量任务流水。参数格式：[{"equcode":"2","equname":"衡器名称","equtype":"C衡器类型","opname":"计量员名称","opcode":"计量员编码","carno":"车号","taskdoresult":"计量保存","memo":"可以是其它的json串","taskbegintime":"2015-12-09 16:10:00","taskendtime":"2015-12-09 17:11:00"}] -->

    <add key="getTaskDoResult" value="http://192.168.48.249:7080/MeasureService/MeasureTaskReport/getTaskDoResult.do?jsonParams={0}"/>

    <!--计量员工作量对比 [{"taskbegintime":"2015-12-09 16:10:00","taskendtime":"2015-12-09 17:11:00"}]-->

    <add key="getAllTaskDoResultAvgTime" value="http://192.168.48.249:7080/MeasureService/MeasureTaskReport/getAllTaskDoResultAvgTime.do?jsonParams={0}"/>
    <!--获取车辆历史皮重 lt 2016-2-18 09:11:56…… 192.168.1.104:8090/MeasureService-->
    <add key="getCarHistoryTare" value="http://192.168.48.249:7080/MeasureService/measure/queryHistorytare.do?carno={0}$tare={1}"/>
    <!--任务统计 end-->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <!--保存业务信息之前验证调用的服务地址 lt 2016-2-24 09:19:43……-->
    <add key="beforesaveMeasureInfo" value="http://192.168.48.249:7080/MeasureService/measure/beforesaveMeasureInfo.do"/>
    <!--修改密码保存 2016-3-15 09:43:04-->
    <add key="updatePassword" value="http://192.168.48.249:7080/MeasureService/privilege/updatePassword.do?usercode={0}$repassword={1}$password={2}"/>
    <!--保存相似重量 2016-3-15 09:43:04 post-->
    <add key="insertConfigmodel" value="http://192.168.48.249:7080/MeasureService/msweight/insertConfigmodel.do?jsonParams={0}"/>
    <!--获取oracle数据库时间 2016-3-30 09:37:17 get-->
    <add key="getOracleDateTime" value="http://192.168.48.249:7080/MeasureService/tools/getOracleDateTime.do"/>
    <!--获取 单独计皮时的 界面显示信息-->
    <add key="getMeasureShowInfo" value="http://192.168.48.249:7080/MeasureService/measure/queryshowinfo.do?operatype={0}$caller={1}"/>
    <!--根据matchid获取车辆 上磅 下称时间-->
    <add key="querytimeBymatchid" value="http://192.168.48.249:7080/MeasureService/measure/querytimeBymatchid.do?matchid={0}"/>
    <!--系统更新配置-->
    <add key="FtpAddress" value="180.150.184.100:21/TMGL"/>
    <add key="FtpUserName" value="admin"/>
    <add key="FtpPassWord" value="123456"/>
    <!--等待打印结果时间-->
    <add key="WaitPrintResultTime" value="/configlist/module[@name='系统设置']/submodule[@name='系统设置']/param[@name='WaitPrintResultTime']/@value"/>
    <!--等待任务时间-->
    <add key="WaitTaskResultTime" value="/configlist/module[@name='系统设置']/submodule[@name='系统设置']/param[@name='WaitTaskResultTime']/@value"/>
    <!--等待任务可执行次数-->
    <add key="WaitTaskResultCount" value="/configlist/module[@name='系统设置']/submodule[@name='系统设置']/param[@name='WaitTaskResultCount']/@value"/>
    <!--更新任务状态的服务地址***********************************************-->
    <add key="updateTaskStatus" value="http://192.168.48.249:7080/MeasureService//measure/updateTaskStatus.do?matchid={0}$weightno={1}$taskstatus={2}$isorprint={3}$printstatus={4}$printmsg={5}"/>
    <!--红外对射挡住时，是否允许保存计量信息;1:允许保存;2:不允许保存-->
    <add key="IsLineMeasure" value="2"/>
    <!--检测坐席是否需要重新登录任务服务器的计时器时间间隔-->
    <add key="ReLoginCheckCount" value="/configlist/module[@name='系统设置']/submodule[@name='系统设置']/param[@name='ReLoginCheckCount']/@value"/>
  </appSettings>
  <userSettings>
    <Talent.RemoteCarMeasure.Properties.Settings>
      <setting name="LocalUserName" serializeAs="String">
        <value/>
      </setting>
      <setting name="LocalPassword" serializeAs="String">
        <value/>
      </setting>
      <setting name="HandleTaskViewTop" serializeAs="String">
        <value/>
      </setting>
      <setting name="HandleTaskViewLeft" serializeAs="String">
        <value/>
      </setting>
    </Talent.RemoteCarMeasure.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.2.8:8088/Service.asmx" binding="basicHttpBinding"
        bindingConfiguration="ServiceSoap" contract="tmService.ServiceSoap"
        name="ServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>
