<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--Xpath配置-->
    <add key="SysConfigFileName" value="ClientConfig\SystemConfig.xml"/>
    <!--乙方公司-->
    <add key="SysInfo" value="/configlist/module[@name='系统设置']/submodule[@name='系统设置']/param[@name='UnitName']/@value"/>
    <!--软件名称-->
    <add key="SoftInfo" value="/configlist/module[@name='系统设置']/submodule[@name='系统设置']/param[@name='SysName']/@value"/>
    <!--启动重量-->
    <add key="BeginWeightInfo" value="/configlist/module[@name='业务设置']/submodule[@name='计量设置']/param[@name='BeginWeight']/@value"/>
    <!--取数周期(S)-->
    <add key="WeightTimePeriodInfo" value="/configlist/module[@name='业务设置']/submodule[@name='计量设置']/param[@name='WeightTimePeriod']/@value"/>
    <!--服务送达周期(S)-->
    <add key="MeasureTimePeriodInfo" value="/configlist/module[@name='业务设置']/submodule[@name='计量设置']/param[@name='MeasureTimePeriod']/@value"/>
    <!--取数次数(S)-->
    <add key="WeightTimeCountInfo" value="/configlist/module[@name='业务设置']/submodule[@name='计量设置']/param[@name='WeightTimeCount']/@value"/>
    <!--允差-->
    <add key="WeightAllowanceInfo" value="/configlist/module[@name='业务设置']/submodule[@name='计量设置']/param[@name='WeightAllowance']/@value"/>
    <!--计量单位-->
    <add key="WeightUnitInfo" value="/configlist/module[@name='业务设置']/submodule[@name='计量设置']/param[@name='WeightUnit']/@value"/>
    <!--启动条件-->
    <add key="StartupInfo" value="/configlist/module[@name='业务设置']/submodule[@name='计量设置']/param[@name='StarType']/@value"/>
    <!--计量方式-->
    <add key="MeasureTypeInfo" value="/configlist/module[@name='业务设置']/submodule[@name='计量设置']/param[@name='MeasureType']/@value"/>
    <!--自动确认时间-->
    <add key="ConfirmTime" value="/configlist/module[@name='业务设置']/submodule[@name='计量设置']/param[@name='ConfirmTime']/@value"/>
    <!--自动启动时间-->
    <add key="AutoRunTime" value="/configlist/module[@name='业务设置']/submodule[@name='计量设置']/param[@name='AutoRunTime']/@value"/>
    
    <!--是否确认重量-->
    <add key="ConfirmWeight" value="/configlist/module[@name='业务设置']/submodule[@name='计量设置']/param[@name='IsConfirmWeight']/@value"/>
    <!--是否保存所有重量曲线-->
    <add key="IsSaveAllWeightData" value="/configlist/module[@name='业务设置']/submodule[@name='计量设置']/param[@name='IsSaveAllWeightData']/@value"/>
    <!--是否标准键盘-->
    <add key="IsStandardBoard" value="/configlist/module[@name='外设设置']/submodule[@name='键盘设置']/param[@name='IsStandardBoard']/@value"/>
    <!--任务服务器IP-->
    <add key="TaskIpInfo" value="/configlist/module[@name='系统设置']/submodule[@name='系统设置']/param[@name='SeatUrl']/@value"/>
    <!--任务服务器端口-->
    <add key="TaskPortInfo" value="/configlist/module[@name='系统设置']/submodule[@name='系统设置']/param[@name='SeatPort']/@value"/>
    <!--终端Id-->
    <add key="ClientIdInfo" value="/configlist/module[@name='系统设置']/submodule[@name='系统设置']/param[@name='ClientId']/@value"/>
    <!--终端Code-->
    <add key="ClientCodeInfo" value="/configlist/module[@name='系统设置']/submodule[@name='系统设置']/param[@name='ClientCode']/@value"/>
    <!--终端名称-->
    <add key="ClientNameInfo" value="/configlist/module[@name='系统设置']/submodule[@name='系统设置']/param[@name='ClientName']/@value"/>
    <!--终端Ip-->
    <add key="ClientIpInfo" value="/configlist/module[@name='系统设置']/submodule[@name='系统设置']/param[@name='ClientIp']/@value"/>
    <!--称点客户端提示信息-->
    <!--空秤文字-->
    <add key="KCStr" value="/configlist/module[@name='显示屏设置']/submodule[@name='汽车衡终端']/param[@name='KCStr']/@value"/>
    <!--上秤文字-->
    <add key="SCStr" value="/configlist/module[@name='显示屏设置']/submodule[@name='汽车衡终端']/param[@name='SCStr']/@value"/>
    <!--任务发送后-->
    <add key="RWFSStr" value="/configlist/module[@name='显示屏设置']/submodule[@name='汽车衡终端']/param[@name='RWFSStr']/@value"/>
    <!--计量过程中-->
    <add key="JLZStr" value="/configlist/module[@name='显示屏设置']/submodule[@name='汽车衡终端']/param[@name='JLZStr']/@value"/>
    <!--计量完成提示-->
    <add key="JLWCStr" value="/configlist/module[@name='显示屏设置']/submodule[@name='汽车衡终端']/param[@name='JLWCStr']/@value"/>
    <!--下秤文字-->
    <add key="XCStr" value="/configlist/module[@name='显示屏设置']/submodule[@name='汽车衡终端']/param[@name='XCStr']/@value"/>
    <!--刷卡文字-->
    <add key="SKStr" value="/configlist/module[@name='显示屏设置']/submodule[@name='汽车衡终端']/param[@name='SKStr']/@value"/>
    <!--远程文字-->
    <add key="YCStr" value="/configlist/module[@name='显示屏设置']/submodule[@name='汽车衡终端']/param[@name='YCStr']/@value"/>
    <!--终止文字-->
    <add key="ZZStr" value="/configlist/module[@name='显示屏设置']/submodule[@name='汽车衡终端']/param[@name='ZZStr']/@value"/>
    <!--系统提示文字-->
    <add key="XTTSStr" value="/configlist/module[@name='显示屏设置']/submodule[@name='汽车衡终端']/param[@name='XTTSStr']/@value"/>
    <!--系统异常文字-->
    <add key="XTYCStr" value="/configlist/module[@name='显示屏设置']/submodule[@name='汽车衡终端']/param[@name='XTYCStr']/@value"/>
    <!--用户自定义文字-->
    <add key="USERDEFINEStr" value="/configlist/module[@name='显示屏设置']/submodule[@name='汽车衡终端']/param[@name='USERDEFINEStr']/@value"/>
    <!--是否显示坐席发送的通知-->
    <add key="IsUserNotice" value="/configlist/module[@name='显示屏设置']/submodule[@name='汽车衡终端']/param[@name='IsUserNotice']/@value"/>
    <!--客户端提示服务地址-->
    <add key="getCardInfo" value="http://192.168.100.12:8080/MeasureService/card/getCardInfo.do?cardid={0}$recordtype={1}$icflag={2}$weightno={3}"/>
    <add key="getMeasureInfo" value="http://192.168.100.12:8080/MeasureService/measure/getMeasureInfobyCarno.do?carno={0}$icid={1}$rfid={2}$caller={3}$planid={4}$weightno={5}$carflag={6}"/>
    <add key="beforesaveMeasureInfo" value="http://192.168.100.12:8080/MeasureService/measure/beforesaveMeasureInfo.do" />
    <add key="saveMeasureInfo" value="http://192.168.100.12:8080/MeasureService/measure/saveMeasureInfo.do"/>
    <!--保存重量回调服务的服务地址  equipment/weighterdata.do在measureController里-->
    <add key="saveWeightRecordInfo" value="http://192.168.100.12:8080/MeasureService/equipment/weighterdata.do"/>
    <!--票据打印后回调服务的服务地址-->
    <add key="savePrintBill" value="http://192.168.100.12:8080/MeasureService/MeasureTaskReport/savePrintBill.do?jsonParams={0}"/>
    <!--获取打印模板(含业务数据)-->
    <add key="getPrintModelData" value="http://192.168.100.12:8080/MeasureService/PrintController/rtPrintModelData.do?jsonParams={0}"/>
     <add key="PrintPostModelData" value="http://192.168.100.12:8080/MeasureService/PrintController/PrintPostModelData.do"/>
    <!--获取称点的配置信息-->
    <add key="getEquParamInfo" value="http://192.168.100.12:8080/MeasureService/MeasureSeatController/getEquParamInfo.do?jsonParams={0}" />
    <!--获取称点的配置信息-->
    <add key="getconfigbyip" value="http://192.168.100.12:8080/MeasureService/equipment/getconfigbyip.do?ip={0}" />
    <!--获取oracle数据库时间 2016-3-30 09:37:17 get-->
    <add key="getOracleDateTime" value="http://192.168.100.12:8080/MeasureService/tools/getOracleDateTime.do" />
    <!--根据衡器编码获取最大量程 2016-5-20 14:50:41 get-->
    <add key="queryrange" value="http://192.168.100.12:8080/MeasureService/measure/queryrange.do?equcode={0}" />
    <!--调拨业务用户选择业务号之后的服务地址-->
    <add key="inputPlanidInfo" value="http://192.168.100.12:8080/MeasureService/measure/inputPlanidInfo.do"/>
    <!--保存安国防作弊接收到的数据-->
    <add key="SaveCheatMsg" value="http://192.168.2.42:6080/Logistical/unauth/cheatlog/insert?msg={0}$equipmentname={1}$reserve1={2}$reserve2={3}"/>
    <!--系统更新配置-->
    <add key="FtpAddress" value="192.168.1.106/Update/Client"/>
    <add key="FtpUserName" value="photo"/>
    <add key="FtpPassWord" value="talent"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <!--1表示界面显示测试内容，0为不显示-->
    <add key="IsTest" value="1"/>

  
    <!--重发任务时间(S)-->
    <add key="ResendTaskTimer" value="/configlist/module[@name='业务设置']/submodule[@name='计量设置']/param[@name='ResendTaskTimer']/@value"/>
    <!--重复发送时间间隔-->
    <add key="SoftClearSendTime" value="/configlist/module[@name='业务设置']/submodule[@name='计量设置']/param[@name='SendTime']/@value"/>
   
    
    <!--是否软件清零-->
    <add key="IsSoftClear" value="/configlist/module[@name='业务设置']/submodule[@name='计量设置']/param[@name='IsSoftClear']/@value"/>
    <!--查询任务状态的服务地址-->
    <add key="getTaskStatus" value="http://192.168.100.12:8080/MeasureService//measure/selectTaskStaus.do?matchid={0}$weightno={1}"/>
    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <!--<runtime>
    <legacyCorruptedStateExceptionsPolicy enabled="true" />
  </runtime>-->
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
