<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="SysLog" type="log4net.Appender.RollingFileAppender" >
      <!--是否续写-->
      <param name="AppendToFile" value="true" />
      <!--最小锁定模型以允许多个进程可以写入同一个文件-->
      <param name="LockingModel" value="log4net.Appender.FileAppender.MinimalLock" />
      <param name="StaticLogFileName" value="true" />
      <!--保存路径-->
      <param name="File" value=".\\Log\\SysLog\\" />
      <param name="DatePattern" value="yyyy-MM-dd.LOG" />
      <param name="StaticLogFileName" value="false" />
      <param name="RollingStyle" value="Date" />
      <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%m%n" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <!--启用按日期分割-->
      <!--<appender-ref ref="LogFileAppenderByDate" />-->
    </root>
   <logger name="SYS_LOG">
      <level value="ALL" />
      <!--启用按日期分割-->
      <appender-ref ref="SysLog" />
    </logger>
  </log4net>
</configuration>