<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--Xpath配置-->
    <add key="SysConfigFileName" value="ClientConfig\SystemConfig.xml"/>
    <!--终端Id-->
    <add key="ClientIdInfo" value="/configlist/module[@name='系统设置']/submodule[@name='系统设置']/param[@name='ClientId']/@value"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <!--上传照片-->
    <add key="saveMeasurePhoto" value="http://10.1.196.86:8090/MeasureService/MeasureTaskReport/saveMeasurePhoto.do?jsonParams={0}"/>

  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
