<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Enabled>true</Enabled>
  <Version>61</Version>
  <ServerUrl>http://localhost:10005/AutoupdateService.xml3</ServerUrl>
  <UpdateFileList>
    <LocalFile path="AutoUpdateTest" lastver="0.0.0.1" size="11913728" />
  </UpdateFileList>
</Config>